/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap'); */

.menu_wrapper {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  z-index: 2;
  font-family: montserrat,sans-serif;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #e7dbff;
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
  margin: 2px 0px;
}

.navbar-collapse {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:space-between;
  margin: 2px 0px; 
  
}

.menu_wrapper button {
  margin-right: 20px;
  
}

.navbar-toggler-icon {
  width: 20px;
  height: 20px;
 
}

.menu_wrapper .navbar-nav {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0px 2px;
  padding-right: 30px;
}

.menu_wrapper .navbar-nav .nav-item {
  width: auto;
  height: 50px;
  margin: 0px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_wrapper .nav-linkd span {
  font-size: 16px;
  font-weight: 600;
  color: #444c57;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.menu_wrapper .nav-linkd span:hover {
  font-weight: 700;
  color: #5f6d81;
}

a {
  text-decoration: none;
}

.menu_wrapper .navbar-nav .nav-link {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  /* color: #426483; */
  color: #444c57;
  text-decoration: none;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.login {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .nav-link {
  font-size: 16px;
  font-weight: 600;
  /* color: #426483; */
  color: #444c57;
  text-decoration: none;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
}

.menu_wrapper .navbar-nav .nav-link:hover {
  font-weight: 700;
  color: #5f6d81;
}

.menu_wrapper .navbar-nav .nav-link:after{
  content: "";
  position: absolute;
  background-color: #8bbe1b;
  height: 4px;
  width: 0%;
  left: 5%;
  bottom: 0px;
  transition: 0.3s;
}
.menu_wrapper .navbar-nav .nav-link:hover:after{
  width: 90%;
}

span {
  color: #8bbe1b;
  font-weight: 600;
}

/* .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
} */

.menu_wrapper .navbar-brand {
  font-size: 22px;
  font-weight: 400;
  margin: 0px 2px;
  margin-right: 5px;
  padding: 3px 3px;
  
} 

.navbar-brand .Logoname {
  font-size: 20px;
  font-stretch: condensed;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  color: #709917;
  margin-left: -10px;
  transition: all 0.5s ease;
}

.navbar-brand img {
  margin: 5px 5px;
}

.bi {
  width: 32px;
  height: 32px;
  font-weight: 600;
  padding-right: 5px;
} 

.navbar-collapse .bi-house{
  color: rgb(247, 7, 7);
}
.navbar-collapse .bi-bag-check {
  color: rgb(75, 189, 218);
}
.navbar-collapse .bi-question-square {
  color: rgb(190, 190, 53);
}
.navbar-collapse .bi-card-list {
  color: rgb(131, 247, 131);
}
.navbar-collapse .bi-option {
  color: rgb(225, 0, 255);
}
.navbar-collapse .bi-wallet2 {
  color: rgb(20, 145, 16);
}
.navbar-collapse .bi-person {
  color: rgb(10, 250, 250);
}
.navbar-collapse .bi-person-fill {
  color: #3f02a1;
  font-size: 18px;
}

.navbar-collapse .btn-signup {
  width: 110px;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  padding: 4px;
  margin-right: 20px;
  background-color: #709917;
  color: #fff;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
}

.navbar-collapse .btn-signup:hover {
  color: #444c57;
}

.menu_wrapper .dropdown-mega {
  z-index: 3;
}

.dropdown-mega h5 {
  color: #709917;
  font-weight: 300;
  padding-bottom: 12px;
  border-bottom: 2px solid rgba(0, 0, 0, .25);
  margin: 0;
} 

.menu_wrapper .dropdown-mega .dropdown-menu {
  width: 50%; 
  position: absolute;   
  left: 160px;  
  top: 90px;
  border: none;
  border-radius: 0px; 
  border-top : 1px solid #e7dbff;
  border-bottom : 2px solid #805cc9;
  box-shadow: rgba(186, 168, 216, 0.09) 0px -4px 4px, rgba(136, 91, 224, 0.09) 0px -8px 8px, rgba(111, 46, 241, 0.09) 0px -16px 16px;
}

/* -----dropdown-mini css------ */

.dropdown-mini h5 {
  color: #709917;
  font-weight: 300;
  padding-bottom: 12px;
  border-bottom: 2px solid rgba(0, 0, 0, .25);
  margin: 0;
} 

.menu_wrapper .dropdown-mini .dropdown-menu {
  width: 16%; 
  position: absolute; 
  left: 645px;  
  top: 90px;
  border: none;
  border-radius: 0px; 
  border-top : 1px solid #e7dbff;
  border-bottom : 2px solid #805cc9;
  box-shadow: rgba(186, 168, 216, 0.09) 0px -4px 4px, rgba(136, 91, 224, 0.09) 0px -8px 8px, rgba(111, 46, 241, 0.09) 0px -16px 16px;
  
}

.menu_wrapper .dropdown-mini {
  z-index: 3;
}

.list-group-item {
  font-size: 14px;
  color: #3F3B51;
  border: 0;
  border-radius: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding: 7px 3px;
}

.list-group-item:hover {
  font-weight: 600;
  color: #827e94;
  background-color: #eee6fd;
  border-bottom: 2px solid #805cc9;
}


/* Responsive */
@media(max-width: 767px) {

  .container-fluid {
    margin: 2px 0px;
  }

  .navbar {
    height: 80px;
  }

  .navbar-collapse {
    flex-direction: column;
    align-items:start;
    margin: 2px 0px;
  } 

  .menu_wrapper .navbar-nav {
    flex-direction: column;
    align-items:start;
    margin: 2px 0px;
  }

  .menu_wrapper .navbar-brand {
    font-size: 20px;
    margin: 0px 0px;
    margin-right: 5px;
    padding: 3px 0px; 
  } 

  .navbar-nav .nav-item {
      margin: 5px 10px;
  }

  .login {
    flex-direction: column;
    align-items:start;
  }

  form {
    margin: 30px 0;
  }

  .menu_wrapper .dropdown-mini .dropdown-menu {
    top: 250px;
    left: 165px;  
  }

}

@media( min-width: 768) and (max-width: 1200px) {
  .navbar-collapse {
    flex-direction: row;
    align-items:start;
    margin: 2px 0px;
  } 

  .menu_wrapper .navbar-nav {
    flex-direction: row;
    align-items:start;
    margin: 2px 0px;
  }
}