<!-- Header -->
<header class="menu_wrapper col-lg-12 col-md-12">
	<nav class="navbar navbar-expand-md navbar-expand-lg">
		<div class="container-fluid col-lg-12 col-md-12">
			<a class="navbar-brand" href="#">
				<img src="../../assets/Images/Logo/Top_Builder.png" alt="" width="55" height="50" class="img">
				<span class="Logoname">Top Builder</span> 
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-expanded="false" aria-controls="navbarNav"  aria-label="Toggle navigation" >
				<!-- <i class="fa-duotone fa-bars-staggered navbar-toggler-icon"></i> -->
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a routerLink="/" routerLinkActive="active" class="nav-link active" aria-current="page"><i class="bi bi-house"></i>Home</a>
					</li>
					<li class="nav-item dropdown dropdown-mega position-static">
						<a class="nav-linkd dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside"><i class="bi bi-bag-check"></i>
							 <span>Find a trade</span>
						</a>
						<div class="dropdown-menu">
							<div class="mega-content px-md-2">
								<div class="container-fluid">	
									<div class="row">

										<div class="col-lg-4 col-sm-6 py-2 px-3">
											<h5>Trades</h5>
											<div class="list-group">
												<a class="list-group-item" href="#">Bathroom Fitter</a>
												<a class="list-group-item" href="#">Blacksmith/Metal Worker</a>
												<a class="list-group-item" href="#">Bricklayer</a>
												<a class="list-group-item" href="#">Builder</a>
												<a class="list-group-item" href="#">Carpenter/Joiner</a>
												<a class="list-group-item" href="#">Cleaners</a>
												<a class="list-group-item" href="#">Conservatories/soffits</a>
												<a class="list-group-item" href="#">Door Fitters</a>
												<a class="list-group-item" href="#">Drainage Specialist</a>
												<a class="list-group-item" href="#">Driveway Specialist</a>
												<a class="list-group-item" href="#">Electrician</a>
												<a class="list-group-item" href="#">Fencing Contractors</a>
												<a class="list-group-item" href="#">Floor Fitters</a>
												<a class="list-group-item" href="#">
													Gardener/Landscape Gardener</a>
												<a class="list-group-item" href="#">Gas/Heating Engineer</a>
											</div>
										</div>
										<div class="col-lg-4 col-sm-6 py-2 px-3">
											<h5>Skills</h5>
											<div class="list-group">
												<a class="list-group-item" href="#">Access Control/Door Entry</a>
												<a class="list-group-item" href="#">Air Conditioning/Refrigeration</a>
												<a class="list-group-item" href="#">Bathroom Design</a>
												<a class="list-group-item" href="#">Bathroom Installation</a>
												<a class="list-group-item" href="#">Bathroom Repair</a>
												<a class="list-group-item" href="#">Brick/Block Paving</a>
												<a class="list-group-item" href="#">Burglar Repairs</a>
												<a class="list-group-item" href="#">Carpet Cleaning</a>
												<a class="list-group-item" href="#">Chimney Building/Repair</a>
												<a class="list-group-item" href="#">Complete Bathroom Refurbishment</a>
												<a class="list-group-item" href="#">Complete Kitchen Refurbishment</a>
												<a class="list-group-item" href="#">Conservatory</a>
												<a class="list-group-item" href="#">Crown Reduction</a>
												<a class="list-group-item" href="#">
													Crown Thinning</a>
												<a class="list-group-item" href="#">Damp Proofing</a>
											</div>
										</div>
										<div class="col-lg-4 col-sm-6 py-2 px-3">
											<h5>Locations</h5>
											<div class="list-group">
												<a class="list-group-item" href="#">Berkshire</a>
												<a class="list-group-item" href="#">Bermingham</a>
												<a class="list-group-item" href="#">Cheshire</a>
												<a class="list-group-item" href="#">Cornwall</a>
												<a class="list-group-item" href="#">Devon</a>
												<a class="list-group-item" href="#">Essex</a>
												<a class="list-group-item" href="#">Glasgow Area</a>
												<a class="list-group-item" href="#">Gwent</a>
												<a class="list-group-item" href="#">Hampshire</a>
												<a class="list-group-item" href="#">Hertfordshire</a>
												<a class="list-group-item" href="#">kent</a>
												<a class="list-group-item" href="#">Lancashire</a>
												<a class="list-group-item" href="#">Leicestershire</a>
												<a class="list-group-item" href="#">Lincoinshire</a>
												<a class="list-group-item" href="#">London</a>
											</div>
										</div>
		
									</div>
								</div>
							</div>
						</div>	
					</li>

					<li class="nav-item">
						<a routerLink="/" routerLinkActive="active" class="nav-link"><i class="bi bi-question-square"></i>Ask</a>
					</li>
					<li class="nav-item">
						<a routerLink="/" routerLinkActive="active" class="nav-link"><i class="bi bi-card-list"></i>Report</a>
					</li>
					<li class="nav-item dropdown dropdown-mini position-static">
						<a class="nav-linkd dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside"><i class="bi bi-option"></i><span>Advice</span>
						</a>
						<div class="dropdown-menu">
							<div class="content px-md-2">
								<div class="container-fluid">	
									<div class="row">
										<div class="col-lg-12 col-sm-12 py-2 px-xl-2 px-2">
											<h5>Advice</h5>
											<div class="list-group">
												<a class="list-group-item" href="#">Cost guides</a>
												<a class="list-group-item" href="#">Homeowner advice centre</a>
												<a class="list-group-item" href="#">Inspiration centre</a>
												<a class="list-group-item" href="#">Trade advice centre</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
					
				<div class="login">
					<a routerLink="/login" routerLinkActive="active" class="nav-link"><i class="bi bi-person"></i>LogIn</a>
					<button class="btn btn-signup" (click)="signup()"><i class="bi bi-person-fill"></i>Sign Up
					</button>
				</div>
			</div>
		</div>
	</nav>
</header>

<!--<form class="d-flex ms-auto" role="search">
		<div class="input-group">
			<input class="form-control border-0 me-0" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</div>
	</form> -->