.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 10px;
  }
  
  .login-card {
    width: 450px;
    padding: 0px 2px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  mat-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    color: rgb(121, 121, 121);
    font-size: 16px;
  }

  .row-name {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: row;
  } 

  .mat-fname, .mat-lname {
    width: 215px;
    margin: 0px 2px;
  }

  .col-email {
    width: 410px;
    margin-bottom: 8px;
  }

  .mat-email {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    color: #1c39bb;
    margin-left: -140px;
  }

  .col-phone {
    width: 410px;
    display: flex;
    align-items: flex-start;
    justify-content:space-around;
    flex-direction: column;
  }

  .row-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #symbol-phone {
    color: #1c39bb;
    position: fixed;
    bottom: 15px;
    right: 10px;
    font-weight: 500;
  }


  @media (max-width: 575px) {

    .row-name {
      display: flex;
      align-items: center;
      justify-content:flex-start;
      flex-direction: column;
    } 

    .mat-fname, .mat-lname {
      width: 430px;
      margin: 0px 2px;
    }

  }
  
  @media (min-width: 576px) {

    .row-name {
      display: flex;
      align-items: center;
      justify-content:flex-start;
      flex-direction: row;
    } 

    .mat-fname, .mat-lname {
      width: 215px;
      margin: 0px 2px;
    }

  }