.container {
  top: 40px;
	display: flex;
	align-items: center;
	flex-direction: row;
  justify-content: flex-start;
}

.row-describe {
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: row;
}

mat-form-field {
  align-items:flex-start;
  width: 100%;
}

textarea {
  resize: vertical;
  width: 100%;
  min-height: 120px;
} 

.col-message {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.card-message {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
  color: rgb(121, 121, 121);
}

.mat-card-content-div{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  flex-direction: row;
}

#symbol-report {
  color: #1c39bb;
  font-weight: 500;
}

mat-title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.row-carddata {
  width: 330px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.list-group {
  border: none;
  width: 320px;
  align-items: flex-start;
}

.list-group-item {
  width: 310px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-weight: 500px;
  color: #333;
  border: none;
}

p {
  font-size: 18px;
  color: #333;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  text-align: justify;
  text-justify: inter-word;
}

span {
  /* color: skyblue; */
  /* color: #C3D4F2; */
  color: #87a9e2;
  font-weight: 600;
  justify-content: center;
}

.bi-circle-fill {
  font-size: 8px;
  margin-right: 15px;
}

.material-symbols-outlined {  
  color: rgb(233, 80, 10);
  font-weight: 600;
} 



@media (max-width: 767px) {

  .row-describe {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
  }
}

@media (min-width: 768px) {

  .row-describe {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
  }

  .col-describe {
    display: flex;
    align-items:center;
    justify-content: flex-start;
  }
  
  .col-message {
    display: flex;
    align-items:center;
    justify-content: flex-end;
    flex-direction: row;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

  .mat-describe {
    align-items:center;
    width: 300px;
    height: 300px;
  }

  .card-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 0px 5px;
    color: rgb(121, 121, 121);
  }
}
