* {
    font-family: 'Open Sans', sans-serif;
  }
  
  .flex-container {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 20px;
    }
  
    .row-localtradeperson {
      width: 100%;
      display: flex;
      justify-content:center;
      flex-direction: row;
      margin-top: 70px;
    }

    /* .row-image {
      display: flex;
      justify-content:center;
      flex-direction: row;
    } */

     /* .row-image {
      width: 930px;
      display: flex;
      justify-content:space-between;
      align-items: center;
      margin-left: 0px;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 0px 0px;
    } */

    .login-card-wrapper {
      display: flex;
      justify-content: flex-start;
    }
  
    .card-img-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 5px;
    }
  
    .card-img {
      width: 100%;
      height: 415px;
    }
  
    img {
      /* width: 430px;
      height: 435px; */
      width: 100%;
      height: auto;
      margin: 10px 0px;
      border: 1px solid lightgray;
      box-shadow: 5px 5px 3px lightgray;
      border-radius: 3px;
    } 
  
    mat-title {
      width: 100%;
      margin: 2px 0px;
      font-size: 26px;
      font-weight: 700;
      color: #333;
      align-items: center;
      padding-bottom: 12px;    
    }

    mat-card-subtitle {
      font-size: 20px;
      font-weight: 500;
      color: #646464;
    }
  
    .mat-mdc-card {
      box-shadow: none;
    }
  
    p {
      font-size: 18px;
      color: #333;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 15px;
      text-align: justify;
      text-justify: inter-word;
    }
  
    span {
      /* color: skyblue; */
      /* color: #C3D4F2; */
      color: #87a9e2;
      font-weight: 600;
      justify-content: center;
    }
  
    a {
      font-size: 18px;
      line-height: 1.5;
      display: flex;
      justify-content: flex-start;
      text-decoration: none;
      font-stretch:wider; 
    }
  
    a:hover {
      text-decoration: underline;
    }
    
            /* Tradeperson data css code */

  
    .tradeperson-data {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-top: 10px;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      padding-left: 0px;
      padding-right: 0px;
    }
  
    .tradepersondata-card {
      width: 100%;
      height: auto;
      display: flex;
      justify-content:flex-start;
      flex-direction: column;
      border: none;
    }
  
     .tradepersondata-content {
      display: flex;
      align-items: center;
      justify-content:flex-start;
      flex-direction: column;
      width: 100%;
      box-shadow: 5px 5px 3px lightgray; 
      border: 1px solid lightgray;
      border-radius: 3px;
    } 
  
    .row-tradepersondata, .row-tradepersondatalist {
      margin-bottom: 20px;
      width: 100%;
    }

    mat-card-title {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  
    .heading {
      color: #333;
      font-size: 2rem;
      font-weight: 600px;
    }
  
    mat-subtitle {
      color: #333;
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
    }
  
    ul {
      margin-left: 0px;
    }
  
    .list-groupQuotes {
      width: 80%;
      margin-left: 0px;
      padding-left: 0px;
      align-items: flex-start;
    }
   
    .list-group {
      border: none;
    }
  
    .list-group-item {
      font-weight: 500px;
      color: #333;
      border: none;
      justify-content: center;
    }
  
    .bi-circle-fill {
      font-size: 8px;
      margin-right: 15px;
    }
  
 
  
   

      /* Responsive */
    @media(max-width: 768px) {

      .flex-container {
        margin-top: 410px;
      }

      .row-localtradeperson {
        flex-direction: column;
      }

      .login-card-wrapper {
        justify-content: center;
    }
  
      .card-img-wrapper {
        justify-content: center;
    }
  }

  @media( min-width: 769) and (max-width: 1200px) {

      .flex-container {
        margin-top: 420px;
    }

      .login-card-wrapper {
        justify-content: center;
    }
  
      .card-img-wrapper {
        justify-content: center;
    }

      .card-img {
        width: 445px;
    }

      img {
        width: 445px;
    }
  }