.login-card {
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: #050505;
    margin-left: 0px;
    border: none;
    border-radius: 0px; 
    border-top : 1px solid #7EB408;
    border-bottom : 2px solid #7EB408;
    box-shadow: rgba(126, 180, 8, 0.2) 0px -4px 4px, rgba(126, 180, 8, 0.2) 0px -8px 8px, rgba(126, 180, 8, 0.2) 0px -16px 16px;
  }

  .login-title {
    margin: 8px 3px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #050505;
    padding-left: 0px;
  }

  .subtitle {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #709917; 
    background-color: #bebebe;
    padding: 5px 16px;
    margin: 0px -16px;
    
  }

  .col-select {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .mat-trade, .mat-job {
    width: 345px;
  }

  .form-label {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    color: #fff;
  }

  .login-button {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .btn-login {
    background-color: #709917;
    color: #fff;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
  }
  
  button {
    font-size: 18px;
    margin: 5px 20px;
  }
  
  span {
    margin: 0px 5px;
  }